<div id="processing-elements">
  <h2 class="text-center mt-5">
    Imagens em processamento
  </h2>
  <hr>

  <table class="col-10 offset-1">
    <thead>
      <th>Imagem</th>
      <th>Iniciado em</th>
      <th class="col-2">Detectando núcleos</th>
      <th class="col-2">Extraindo núcleos</th>
    </thead>
    <tbody id="pending-images">
    </tbody>
  </table>
</div>
