<%= render 'layouts/navbar' %>

<div class="mt-5 p-5" style="background-color: rgba(0, 0, 0, .65)">
  <% @scanned_image.scanned_cells.each do |cell| %>
    <div class="card d-inline-block" style="margin-left: 15px; margin-bottom: 15px; margin-right: 15px;">
      <%= image_tag cell.rgb, style: {width: 125, height: 125}, data_value: {"red": url_for(cell.red), "green": url_for(cell.green), "blue": url_for(cell.blue), "rgb": url_for(cell.rgb), "blue_green": url_for(cell.blue_green), "blue_red": url_for(cell.blue_green), "green_red": url_for(cell.green_red)} %>
    </div>
  <% end %>
</div>
