<table>
  <thead>
    <th>Imagem</th>
    <th>Iniciado em</th>
    <th>Aguardando início</th>
    <th>Marcando núcleos</th>
    <th>Extraindo núcleos</th>
    <th>Processando núcleos</th>
    <th>Completo</th>
    <th></th>
  </thead>
  <tbody id="pending-images">
  </tbody>
</table>
