<%= render 'layouts/navbar' %>

<%= list_title "Lâminas" %>

<table>
  <thead>
    <th>Paciente</th>
    <th>Exame</th>
    <th>Data do preparo da lâmina</th>
    <th>Amostra</th>
    <th>Sonda</th>
    <th>Responsável</th>
  </thead>
</table>
